* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    font-size: 30px;
}

body {
    width: 100%;
    background-color: #f0f0f0;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #2f2f2f;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.nav-links a[aria-current="page"] {
    background-color: #dec2b6;
    color: #212121;
}

.logo {
    color: #dec2b6;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pinyon Script', cursive;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.burger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
}

.nav-links {
    display: none;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #212121;    
}

.nav-links.open {
    display: flex;
}

.nav-links a {
    color: #f0f0f0;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    border-bottom: 1px solid #2f2f2f;
    transition: background 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.nav-links a:hover {
    background-color: #dec2b6;
    color: #212121;

}

.burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    background-image: url('https://media.yatzer.com/9-the-port-yspractice-nanjing-china-photo-ming-li-yatzer-1400x934.jpg');
    padding: 5%;
    padding-top: 20%;
}

.hero-section h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 60%;
}

.hero-section button {
    background-color: #dec2b6;
    color: #1A237E;
    outline: none;
    border: 1px solid #1A237E;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 1s;
    border-radius: 30px;
}

.hero-section button:hover {
    background-color: #EAE0C8;
}

.hero-section a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .hero-section {
    background-image: url('https://media.yatzer.com/9-the-port-yspractice-nanjing-china-photo-ming-li-yatzer-1400x934.jpg');
    background-size: cover;
    padding-top: 8%;
    padding-left: 3%;
    }

    .hero-section button {
        width: 120px;
        height: 55px;
        font-size: 16px;
        font-weight: bold;
    }

    .hero-section h1 {
        font-size: 3rem;
        margin-bottom: 10%;
    }

    h1 span {
        display: block;
    }

    .burger {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }

    .nav-links a {
        border-bottom: none;
        padding: 0 16px;
        height: 60px;
        display: flex;
        align-items: center;
        transition: color 0.6s;
        transition: background-color 0.6s;
        font-size: 20px;
    }

    .nav-links a:hover {
        color: #212121;
        background-color: #dec2b6;
    }
}

#home h2 {
    margin: 5%;
    font-family: 'Bebas Neue', sans-serif;
}

h2 span {
    color: #dec2b6;
}

#home .featured-vehicles {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.featured-vehicles div {
    width: 100%;
}

.car {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #dec2b6;
    margin-bottom: 5%;
}

.car img {
    width: 100%;
    object-fit: cover;
}

.car div {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding-top: 5%;
    padding-bottom: 3%;
    justify-content: space-between;
}

.car .price {
    background-color: #2f2f2f;
    color: #dec2b6;
    width: 120px;
    height: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

@media (min-width: 768px) {
    #home .featured-vehicles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 3%;
        padding-right: 3%;
    }

    .car div {
        font-size: 13px;
    }

    .car .price {
        font-size: 12px;
        padding: 2px;
    }
}

@media (min-width: 1024px) {
    #home h2 {
        font-size: 3rem;
    }

    .car div {
        font-size: 18px;
    }

    .car .price {
        font-size: 16px;
        width: 150px;
        height: 50px;
    }
}

.more-cars {
    width: 120px;
    height: 50px;
    background-color: #dec2b6;
    color: #2f2f2f;
    border: none;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}

.empty-space {
    width: 100%;
    height: 1.5rem;
}

@media (min-width: 768px), (min-width: 1024px) {
    .empty-space {
        width: 100%;
        height: 8rem;
    }
}

#below-cars {
    width: 100%;
    padding: 5%;
}

#below-cars h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 5%;
}

#below-cars h2 span {
    color: #dec2b6;
}

.car-brands {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
}

.car-brands img {
    width: 100%;
}

#home hr {
    border: 2px solid #dec2b6;
    width: 100%;
    margin: 1.5rem auto;
}

@media (min-width: 768px) {
    .car-brands img {
        width: 43%;
    }

    #below-cars h2 {
        font-size: 3rem;
    }

    #home hr {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    #below-cars {
        padding: 2%;
    }

    .car-brands {
        gap: 1.5rem;
        width: 100%;
        padding: 2rem;
        padding-left: 3.8rem;
    }

    .car-brands img {
        width: 28%;
    }

    #home hr {
        width: 80%;
    }
}

#below-cars h3 {
    font-size: 18px;
}

#below-cars p {
    font-size: 16px;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.3rem;
    margin-bottom: 15%;
}

@media (min-width: 768px) {
    .reasons {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 10%;
    }
}

@media (min-width: 1024px) {
    .reasons {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
}

.test {
    width: 100%;
    border: 2px solid #dec2b6;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .testimonials {
        width: 80%;
        display: grid;
        flex-direction: row;
        margin: 0 auto;
    }
}

#home-footer {
    background-color: #2f2f2f;
    margin-top: 20%;
    padding-bottom: 10%;
}

.social-media {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.social-media div {
    cursor: pointer;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s;
}

.social-media p {
    display: none;
}

.social-media div:first-child:hover {
    background-color: #1877F2;
}

.social-media div:nth-child(2):hover {
    background-color: #000;
}

.social-media div:nth-child(3):hover {
    background-color: #000;
}

.social-media div:nth-child(4):hover {
    background-color: #ff0000;
}

.social-media div:nth-child(5):hover {
    background-color: #1877F2;
}

.quick-links {
    margin: 10%;
}

.quick-links ul {
    list-style: none;
}

.quick-links a {
    text-decoration: none;
    color: #dec2b6;
    font-size: 15px;
    transition: color 0.6s;
}

.quick-links a:hover {
    color: #f0f0f0;
}

.quick-links h3 {
    font-size: 20px;
    color: #dec2b6;
}

.footer-contact {
    margin: 10%;
}

.footer-contact h3 {
    font-size: 20px;
    color: #dec2b6;
}

.footer-contact ul {
    list-style: none;
}

.footer-contact li {
    font-size: 15px;
    color: #dec2b6;
    margin: 15px 0;
}

.footer-contact a {
    text-decoration: none;
    color: #6969e3;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-open {
    margin: 10%;
}


.footer-open h3 {
    font-size: 20px;
    color: #dec2b6;
}

.footer-open ul {
    list-style: none;
}

.footer-open li {
    font-size: 15px;
    color: #dec2b6;
    margin: 15px 0;
}

#home-footer hr {
    margin: 5% auto;
    width: 83%;
    border: 1px solid #808080;
}

.last-foot {
    text-align: center;
    font-size: 12px;
    color: #808080;
}

@media (min-width: 768px) {
    #home-footer {
        margin-top: 15%;
        padding-bottom: 3%;
    }

    .social-media p {
        display: block;
        font-size: 20px;
    }

    .foot-cover {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 3% auto;
    }

    .quick-links {
        margin: 3% 3% 3% 3%;
        width: 40%;
    }

    .footer-contact {
        margin: 0;
        margin: 3% 3% 0 0;
        width: 40%;
    }

    .footer-open {
        margin: 0 3%;
        width: 40%;
    }

    .last-foot {
        font-size: 14px;
    }

    .social-media div:first-child  p {
        color: #fff;
    }

    .social-media div:nth-child(2) p {
        color: #fff;
    }

    .social-media div:nth-child(3) p {
        color: #fff;
    }

    .social-media div:nth-child(4) p {
        color: #fff;
    }

    .social-media div:nth-child(5) p {
        color: #fff;
    }
}

@media (min-width: 1024px) {
    #home-footer {
        margin-top: 10%;
    }

    .foot-cover {
        flex-wrap: nowrap;
    }

    .footer-open {
        margin: 3% 3%;
    }
}

#inventories h1 {
    padding-top: 80px;
    text-shadow: 2px 2px 8px #000;
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('https://media.architecturaldigest.com/photos/66758a12539a07cf706eefaa/2:3/w_1500,h_2250,c_limit/EMBARGO-BUGATTI-World-Premiere-Presskit-Images-26.jpg');
    background-size: cover;
    background-position: center bottom;
}

@media (min-width: 768px) {
    #inventories h1 {
        font-size: 4rem;
        color: #fff;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
    }

    .hero {
    width: 100%;
    background-image: url('https://bugatti.imgix.net/67d984a14e7e13e5d09bdb69/03-bugatti-rotterdam.jpg');
    background-size: cover;
    }
}

.inventory {
    padding: 5%;
}

#inventories h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

#inventories input {
    width: 95%;
    display: block;
    margin: 0 auto;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #808080;
    padding: 5px;
}

@media (min-width: 768px) {
    #inventories input {
        width: 75%;
        height: 40px;
    }

    .inventory {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 3%;
        padding-right: 3%;
        column-gap: 3%;
    }

    .car div {
        font-size: 13px;
    }

    .car .price {
        font-size: 12px;
        padding: 2px;
    }
}

@media (min-width: 1024px) {
    #inventories input {
        width: 65%;
        height: 40px;
    }

    .car div {
        font-size: 18px;
    }

    .car .price {
        font-size: 16px;
        width: 150px;
        height: 50px;
    }
}

.about-hero {
    height: 45vh;
    width: 100%;
    background-image: url('https://t3.ftcdn.net/jpg/02/63/79/14/360_F_263791458_ijfPvo4oFid0jMwPEcs8mKAtJYI3wRKU.jpg');
    background-size: cover;
    padding-top: 15%;
}

.about-hero h1 {
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
    font-size: 2.8rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.about-hero p {
    color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

.about-hero p span {
    color: #dec2b6;
}

@media (min-width: 768px) {
    .about-hero {
        padding-top: 10%;
        height: 70vh;
        background-image: url('https://t3.ftcdn.net/jpg/02/63/79/14/360_F_263791458_ijfPvo4oFid0jMwPEcs8mKAtJYI3wRKU.jpg');
    }
}

@media (min-width: 1024px) {
    .about-hero {
        height: 100vh;
    }

    .about-hero h1 {
        font-size: 4rem;
    }
}

.welcome {
    margin: 20% auto 10%;
    width: 85%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.welcome h2 {
    text-align: center;
    font-size: 20px;
    color: #2f2f2f;
}

.welcome h2 span {
    color: #dec2b6;
    display: block;
}

.welcome img {
    width: 100%;
}

@media (min-width: 768px) {
    .welcome {
        margin: 10% auto 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .welcome img {
        width: 75%;
    }

    .welcome h2 {
        font-size: 28px;
        margin-top: 10px;
    }

    .welcome div:first-child {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .welcome {
        display: flex;
        flex-direction: row;
    }

    .welcome div:first-child {
        display: block;
        width: 38%;
    }

    .welcome div:last-child {
        width: 62%;
        padding-left: 20px;
    }

    .welcome img {
        width: 100%;
    }
}

#team {
    width: 100%;
}

#team h2 {
    font-size: 30px;
    text-align: center;
}

#team h2 span {
    color: #dec2b6;
}

.team {
    display: flex;
    flex-direction: column;
}

.mate img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mate {
    margin: 5% auto;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.mate div {
    background-color: #2f2f2f;
    color: #f0f0f0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

.mate h3 {
    font-size: 25px;
}

.mate p {
    font-size: 20px;
}

@media (min-width: 768px) {
    #team h2 {
        font-size: 1.5rem;
    }

    .team {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .team {
        width: 80%;
        margin: 2% auto;
    }
}

#numbers {
    width: 100%;
    margin-top: 15%;
}

#numbers h2 {
    font-size: 35px;
    text-align: center;
}

.our-numbers {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 20px;
}

.number {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3%;
    color: #2f2f2f;
    border: 1px solid #dec2b6;
    border-radius: 20px
}

.number h3 {
    font-size: 3rem;
}

.number hr {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.number p {
    font-size: 18px;
}

@media (min-width: 768px) {
    #numbers {
        margin-top: 10%;
    }

    .our-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 3% auto;
    }
}

@media (min-width: 1024px) {
    #numbers {
        margin-top: 5%;
    }

    .our-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#blog-hero {
    background-image: url('https://www.spinny.com/blog/wp-content/uploads/2024/09/videoframe_0.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
}

#blog-hero img {
    width: 3.5rem;
}

#blog-hero h1 {
    font-size: 1.7rem;
    font-family: 'Bebas Neue';
    color: #f0f0f0;
    text-align: center;
}

#blog-hero div:last-child {
    display: flex;
    justify-content: flex-end;
}

#blog-hero div:last-child img {
    transform: rotate(180deg);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

@media (min-width: 768px) {
    #blog-hero h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    #blog-hero div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #blog-hero h1 {
        font-size: 3rem;
    }
}

.featured-post {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5% auto;
    border-radius: 5%;
    box-shadow: 2px 2px 10px #2f2f2f;
}

.featured-post img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.featured-post div:last-child {
    padding: 5%;
}

.featured-post h2 {
    font-size: 25px;
}

.featured-post a {
    text-decoration: none;
    color: #212121;
    transition: color 0.6s;
}

.featured-post a:hover {
    color: #00b336;
    text-decoration: underline;
}

.featured-post p {
    font-size: 15px;
    text-align: justify;
}

.featured-post button {
    width: 90px;
    height: 45px;
    border: none;
    background-color: #2f2f2f;
    color: #f0f0f0;
    border-radius: 8px;
    font-weight: bold;
    display: block;
    margin: 5% auto;
}

@media (min-width: 768px) {
    .featured-post img {
        width: 90%;
        display: block;
        margin: 5% auto 0;
        border-radius: 10px;
    }

    .featured-post {
        display: flex;
        flex-direction: column;
        width: 95%;
        border-radius: 10%;
        box-shadow: 2px 2px 10px #2f2f2f;
    }

    .featured-post div:last-child {
        padding: 5%;    
    }
}

@media (min-width: 1024px) {
    .featured-post {
        width: 70%;
        display: flex;
        flex-direction: row;
        width: 95%;
        border-radius: 2%;
    }

    .featured-post div {
        width: 50%;
    }

    .featured-post img {
        width: 90%;
    }
}

.blog-card {
    width: 90%;
    margin: 10% auto;
    box-shadow: 2px 2px 10px #dec2b6;
    border-radius: 10px;
    padding: 10px;
}

.blog-card h3 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.blog-card p {
    font-size: 15px;
}

.blog-card button {
    width: 90px;
    height: 45px;
    background-color: #2f2f2f;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #f0f0f0;
    display: block;
    margin: 5% auto;
}

@media (min-width: 768px) {
    .blog-card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .blog-card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#contact-hero {
    width: 100%;
    background-image: url('https://i.ibb.co/9HwSWgct/Chat-GPT-Image-Jun-1-2026-01-57-45-PM.png');
    background-size: cover;
    height: 100vh;
    background-position: bottom center;
    padding-top: 4.5rem;
}


#contact-hero h1 {
    color: #f0f0f0;
    text-shadow: 5px 5px 10px #000;
    font-family: 'Bebas Neue';
    font-size: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    #contact-hero {
        height: 100vh;
        background-image: url('https://i.ibb.co/9HwSWgct/Chat-GPT-Image-Jun-1-2026-01-57-45-PM.png');
        padding-top: 5rem;
    }

    #contact-hero h1 {
        color: #f0f0f0;
        text-shadow: 5px 5px 10px #000;
        text-align: center;
        font-size: 4rem;
    }
}

@media (min-width: 1024px) {
    #contact-hero {
        background-position: top;
        padding-top: 8rem;
    }
}

.contact-inputs {
    width: 95%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #2f2f2f;
    padding: 10px;
    margin: 5% auto;
    background-color: #f8f8f8;
}

.contact-inputs h2 {
    font-family: 'Bebas Neue';
    text-align: center;
    color: #2f2f2f;
}

.contact-inputs input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #e8e8e8;
    border-bottom: 3px solid #dec2b6;
    margin: 5% 0;
    outline: none;
    height: 1.5rem;
    padding: 10px;
    font-weight: bold;
}

.contact-inputs textarea {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 8rem;
    background-color: #e8e8e8;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto 5%;
    font-weight: bold;
}

.contact-inputs button {
    width: 90px;
    height: 45px;
    background-color: #2f2f2f;
    color: #f0f0f0;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .contact-inputs span {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    #firstname {
        width: 48%;
    }

    #lastname {
        width: 48%;
    }

    .contact-inputs input {
        margin: 2% 0;
    }
}

@media (min-width: 1024px) {
    .contact-inputs {
        width: 75%;
    }
}

.contact-details {
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    margin: 5% auto;
}

.contact-details h2 {
    font-family: 'Bebas Neue';
    text-align: center;
    color: #2f2f2f;
}

.contact-details h3 {
    font-size: 20px;
    color: #dec2b6;
}

.contact-details div:first-child div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

.contact-details p {
    font-size: 16px;
    margin-bottom: 8%;
}

.contact-details ul {
    list-style: none;
}

.contact-details ul li {
    font-size: 16px;
}

.contact-details div:last-child img {
    width: 100%;
    margin: 5% 0;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .contact-details {
        display: flex;
        flex-direction: row;
    }

    .contact-details div:first-child {
        width: 50%;
    }

    .contact-details div:last-child {
        width: 50%;
    }

    .contact-details div:last-child img {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .contact-details {
        width: 75%;
    }

    .contact-details div:first-child {
        width: 40%;
    }

    .contact-details div:last-child {
        width: 60%;
    }
}